body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
}

body {
  background-color: #2f4454;
}

.container {
  display: flex;
  flex-direction: column;
}

.heading {
  letter-spacing: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  border-radius: 20px;
}

.block {
  padding: 20px;
  width: 20%;
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 20px;
}

.one {
  display: table;
  margin: 5px;
  width: 80%;
  color: white;
}

.dish {
  background: rgba(255, 255, 255, 0.5);
  border: 10px solid #2f4454;
  border-radius: 20px;
  display: inline-block;
  letter-spacing: 5px;
}

.dishes {
  height: 300px;
  width: 400px;
}

.cartIcon {
  width: 70px;
}

.categoryButtonSelected {
  background-color: #da7b93;
}

.categoryButton:hover {
  background-color: #2e151b;
}

.categoryButton, .btn {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.icon {
  width: 20px;
}

p, h2, button {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: white;
}

button {
  background-color: #da7b93;
  margin-top: 5px;
  margin-left: 10px;
  padding: 5px;
  border: none;
}

.small {
  width: 150px;
}

span {
  padding: 15px;
}

img {
  padding: 15px;
}

.plus {
  border: none;
  background: none;
}

.btn {
  border-radius: 5px;
  color: white;
}

  @media all and (max-width : 540px) {
    .dishes {
      height: 100px;
      width: 200px;
    }

    h1 {
      font-size: 20px;
    }

    p, h2, button {
      font-size: 10px;
    }

    img {
      padding: 5px;
    }

    .small {
      width: 80px;
    }
  }